@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  @apply bg-black text-white;
}

/* Glass effect */
.glass {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

/* Neon accents */
.neon {
  color: #00ffcc;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0.8;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slideIn {
  animation: slideIn 0.25s ease-out;
}